.container {
    margin: 0 25%;
}

.btn {
    border-radius: 3px;
    min-width: 50px;
    min-height: 35px;
    border: none;
}

.zh {
    background: skyblue;
}

.en {
    background: aquamarine;
}

.link{
    text-decoration: none;
}

a:visited{
    color: black;
}